<h1>{{title}}</h1>
<p>Bienvenido a {{title}}</p>

<a href="/users/register">Regístrate</a>
<a href="/users/login">Usuarios</a>
<a href="/travels/add">Añadir viaje</a>

{{#each travels}}
<p>{{destiny}}</p>
<img style="height: 200px;" src="{{img}}" alt="{{destiny}}">
<p>Viaje a {{destiny}} por tan solo {{price}}€</p>
<p>El viaje tiene un {{discount}}% de descuento</p>
<p>Creado por {{User.name}}</p>
{{/each}}