<h1>{{title}}</h1>
<p>Bienvenido a {{title}}</p>

<a href="/users/register">Regístrate</a>
<a href="/users/login">Usuarios</a>
<a href="/travels">viajes</a>

{{#each travels}}
<p>{{country}}</p>
<img src="{{imgURL}}" alt="{{country}}">
<p>Viaje a {{country}} por tan solo {{price}}€</p>
<p>El viaje tiene un {{discount}}% de descuento</p>
{{/each}}